#annotation-sidebar-wrapper {
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    width: 500px;

    /* Force scrollable sidebar */
    max-height: 100vh;
    overflow: auto;

    /* Sidebar is hidden by default */
    display: none;
    right: 0;

    /* Overlays current page */
    position: fixed;

    background-color: white;
}

#annotation-table {
    /*margin-top: 100px;
    padding: none;*/
    /*width: 100%;*/
}

#annotation-top {
    /*position: fixed;*/
}

.highlight {
    background-color: crimson;
    color: white;
}

