{%load staticfiles%}

<!DOCTYPE html>

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Xcout</title>
    <meta name="description" content=" Large Mammalian Chromosome Comparison Previewer">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link rel="stylesheet" href="{% static "bower_components/bootstrap/dist/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "bower_components/seiyria-bootstrap-slider/dist/css/bootstrap-slider.min.css" %}">
    <link rel="stylesheet" href="{% static "css/xcout.css" %}">

    <link rel="import" href="{% static "bower_components/bs-glyphicon/bs-glyphicon.html" %}">
    
    <script type="text/javascript" src="{% static "bower_components/jquery/dist/jquery.min.js" %}"></script>
    <script type="text/javascript" src="{% static "bower_components/jquery-ui/jquery-ui.min.js" %}"></script>
    <script type="text/javascript" src="{% static "bower_components/d3/d3.min.js" %}"></script>
    <script type="text/javascript" src="{% static "bower_components/bootstrap/dist/js/bootstrap.min.js" %}"></script>
    <script type="text/javascript" src="{% static "bower_components/seiyria-bootstrap-slider/dist/bootstrap-slider.min.js" %}"></script>
    <script type="text/javascript" src="{% static "bower_components/webcomponentsjs/webcomponents-lite.min.js" %}"></script>

</head>

<body role="document">

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="navbar-header">

            <a class="navbar-brand" href="/">| XCout - Multiple comparative genomics visualization |</a>
        </div>
        <div class="navbar-items">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="/">Home</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right"style="margin-right: 15px">
                <li><a href="/help">Help</a></li>
                <li><a href="/contact" >Contact</a></li>
            </ul>
        </div>
    </nav>

    <div id="alertContainer"class="container"></div>



{%block content%}


{% endblock %}

    <script type="text/javascript" src="{% static "bower_components/bootstrap-alerts/bootstrap-alerts.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/utils.js" %}"></script>

</body>
</html>